@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic');

body {
font-family: 'PT Sans Caption', sans-serif;
}

h1 {
  font-size: 70px;
}

nav .logo {
  display: block;
  width: 180px;
  height: 16px;
  background-image: url(../images/logo.svg);
  background-size: cover;
}
nav .about {
  font-size: 14px;
  line-height: 50px;
  color: rgba(0,0,0,.2);
  text-decoration: none;
  margin-right: 40px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 768px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11px;
  padding: 20px;
  margin-right: 40px;
}
.step1 {
  padding-top: 50px;
}
.paragraph1 h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 36px;
  line-height: 46px;
}
.paragraph1 p {
  margin-top: 21px;
  font-size: 25px;
  line-height: 38px;
}
.paragraph1 {
  left: 120px;
  position: absolute;
  top: 147px;
  width: 550px;
}
main {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}
.step1 {
  display: flex;
}
.step1 img {
  top: 115px;
  right: -116px;
  width: 732px;
  height: 660px;
  position: absolute;
  background-size: cover;
}
.paragraph1 img {
  /* width: 210px; */
  height: 20px;
  margin-top: 250px;
  margin-left: -30px;
}
